<!DOCTYPE html>
{% extends 'online_quiz/exam_base.html'%}
{% block exam_base %}
<div class="col-lg-12 border border-white  p-4 m-4 mx-auto">

{% for i in questions %}

<h1>Question - {{i.quiz_question}}</h1>
<form>
  <div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>
  <div class="radio">
    <label><input type="radio" id="option1" name="name" value="{{i.quiz_option1}}">{{i.quiz_option1}}</label>
  </div>
  <div class="radio">
    <label><input type="radio" id="option2" name="name" value="{{i.quiz_option2}}">{{i.quiz_option2}}</label>
  </div>
  <div class="radio">
    <label><input type="radio" id="option3" name="name" value="{{i.quiz_option3}}">{{i.quiz_option3}}</label>
  </div>
  <div class="radio">
    <label><input type="radio" id="option4" name="name" value="{{i.quiz_option4}}">{{i.quiz_option4}}</label>
  </div>
  </form>
  {% endfor %}
  <div class="form-group">
    <button class="btn btn-warning" id=save_ans>SUBMIT ANSWER</button>
    <input id='timer' type='hidden' name="timer" value="">
  </div>
<div class="paginator">
  <div class="form-group">
    {%if questions.has_next %}
    <a href="?page={{questions.next_page_number}}"><button class="btn form-control btn-primary" id="submitAnswer"   disabled>Next</button> </a>
      {% else %}
      <a href="/result/"><button class="btn form-control btn-success" id="submitAnswer" >Submit Quiz</button> </a>
        {% endif %}
  </div>


  <script>

      const timer=document.getElementById('displaytimer')

      const inputtag = document.getElementById('timer')
      t=0
      setInterval(()=>{
          t+=1
          timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
          inputtag.value = t
      },1000)
  </script>

    </div>
  </div>
</div>
{% endblock %}
