body{
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

#start_exam{
  text-align: center;
  margin-top:350px;
  color: #000000;
  border: 0px groove #1C6EA4;
  border-radius: 40px 40px 40px 40px;
  border: 2px solid orange ;
  padding: inherit;
}


#link1{
  text-align: center;
  margin-top:350px;
  color: #7eff2e;
  border: 0px groove #1C6EA4;
  border-radius: 40px 40px 40px 40px;
  border: 2px solid orange ;
  padding: inherit;
}
